{% extends 'base.html' %}

{% block content %}
{% if request.user.is_superuser %}

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ Pon_1 }}
          <span class="badge badge-primary badge-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ Pon_2 }}
          <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ Pon_3 }}
          <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ Pon_4 }}
          <span class="badge badge-primary badge-pill">2</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ Pon_5 }}
          <span class="badge badge-primary badge-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ Pon_6 }}
          <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ Pon_7 }}
          <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ Pon_8 }}
          <span class="badge badge-primary badge-pill">2</span>
        </li>
      </ul>

      {%else%}
      <h1>sorry this page not available for you!!!</h1>
     {%endif%}
     
  {% endblock content %}
    