{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="mt-5">
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-2 mb-0" style="color: aliceblue;">
            {{ form.date|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0" style="color: aliceblue;">
            {{ form.cost_profile|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0" style="color: aliceblue;">
            {{ form.cost|as_crispy_field }}
          </div>
          
        </div>


        <div class="form-row">
            <div class="form-group col-md-12 mb-0" style="color: aliceblue;">
              {{ form.description|as_crispy_field }}
            </div>
          </div>
      
        <button type="submit" class="btn btn-light">POST</button>
      </form>

      
    
</div>



  
{% endblock %}